<!-- <h3>List</h3>
<form #f="ngForm" (ngSubmit="onSubmit()")></form> -->
<button (click)="createList(1, 1)">Create List</button>
<button (click)="fetchList(4)">Fetch List</button>
<button (click)="addCard(4, 15432, 5)">Add to List</button>

<!-- <div class="list">
    @for (card of currentList; track $index) {
        <div class="card">
            <h3>{{card.Card.card_name}}</h3>
        </div>
    }
</div> -->

<ul>
  @for (item of currentList; track item.id) {
    <li>
      <img [src]="item.Card.card_img" [alt]="item.Card.card_name" />
      <h3>{{ item.Card.card_name }}</h3>
      <p>Set: {{ item.Card.set }}</p>
      <p>Treatment: {{ item.Card.treatment }}</p>
      <p>Regular Price: {{ item.Card_Price.reg_price | currency }}</p>
      <p>Foil Price: {{ item.Card_Price.foil_price | currency }}</p>
      <p>Quantity: {{ item.quantity }}</p>
    </li>
  }
</ul>